<div class="row search-container">
	<div class="col-xs-10 col-sm-10 col-md-3 col search-content">
		<div class="profile-info">
			<div class='col xs-11'>
        <div class="form-group search-group">
          <input class="form-control" id="focusedInput" type="text">
          <a href="#" class="btn btn-primary btn-sm btn-block btn-responsive book-learn-more">Search</a>
        </div>
			</div>
		</div>
	</div>
	<div class="col-xs-10 col-sm-10 col-md-8 col search-content">
      <div class="row collection-container">
        {{#each firstAuthors}}
          <div id="author-field-{{@key}}" class="col-xs-6 col-md-3">
            <div class="thumbnail" id="{{_id}}">
              <h2 class="hidden-title">{{firstName}} {{lastName}}</h2>
              <img src="{{picture._downloadURL}}" alt="">
              <div class="caption">
                <p>
                  <a href="#" class="btn btn-primary btn-sm btn-block btn-responsive author-learn-more" data-toggle="modal" data-target="#author-info">Learn more</a>
                  <a href="#" class="btn btn-success btn-sm btn-block btn-responsive btn-sm">Mark as read</a>
                </p>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    <ul class="pagination">
      {{#for 1 totalAuthorPages 1}}
        <li><a class="page" href="/" onclick="return false">{{this}}</a></li>
      {{/for}}
    </ul>
  </div>
</div>
