<div class="row search-container">
	<div class="col-xs-10 col-sm-10 col-md-3 col search-content">
		<div class="profile-info">
			<div class='col xs-11'>
        <div class="form-group search-group">
          <input class="form-control" id="focusedInput" type="text">
          <a href="#" class="btn btn-primary btn-sm btn-block btn-responsive book-learn-more">Search</a>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Classics</a></li>
          <li><a href="#">Fantasy</a></li>
          <li><a href="#">Fiction</a></li>
          <li><a href="#">Mystery</a></li>
          <li><a href="#">Science Fiction</a></li>
        </ul>
			</div>
		</div>
	</div>
	<div class="col-xs-10 col-sm-10 col-md-8 col search-content">
      <div class="row collection-container">
        {{#each firstBooks}}
          <div id="book-field-{{@key}}" class="col-xs-6 col-md-3">
            <div class="thumbnail" id="{{_id}}">
              <h2 class="hidden-title">{{title}}</h2>
              <img src="{{cover._downloadURL}}" alt="">
              <div class="caption">
                <p>
                  <a href="#" class="btn btn-primary btn-sm btn-block btn-responsive book-learn-more" data-toggle="modal" data-target="#book-info">Learn more</a>
                  <a href="#" class="btn btn-success btn-sm btn-block btn-responsive btn-sm mark-as-read" data-toggle="modal" data-target="#book-read">Mark as read</a>
                </p>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    <ul class="pagination">
      {{#for 1 totalBookPages 1}}
        <li><a class="page" href="/" onclick="return false">{{this}}</a></li>
      {{/for}}
    </ul>
  </div>
</div>
