{{#each books}}
<div class="row">
  <div class="col-sm-10 col-centered">
    <div class="row single-book-container">
        <div class="col-sm-4">
          <a href="#/books/{{_id}}">
          <img src="{{cover._downloadURL}}" alt="empty" class="img-responsive"/>
          </a>
        </div>
        <div class="col-sm-8 book-content">
          <h2 id="book-title">{{title}}</h2>
          <p class="book-content-author">by {{author}}</p>
          <p class="book-content-genre"><b>Genre:</b> {{genre}}</p>
          <p class="book-content-publish-year"><b>Published:</b> {{year}}</p>
          <p class="book-content-pages"><b>Pages:</b> {{pages}}</p>
          <p class="book-content-isbn"><b>ISBN:</b> {{isbn}}</p>
          <p class="book-content-count-read"><b>Read:</b> {{countRead}}</p>
          <p class="book-content-rating"><b>Rating:</b> {{rating}}</p>
          <textarea readonly class="form-control book-content-description">{{description}}</textarea>
          <a href="#" class="btn btn-success btn-sm mark-as-read pull-right" data-toggle="modal" data-target="#book-read"}>Mark as read</a>
        </div>
    </div>
  </div>
</div>
{{/each}}
