<div class="row search-container">
  <div class="col-xs-10 col-sm-10 col-md-3 col search-content" id="left-side-community-page">
    <div class="community-page-search">
      <div class='col xs-11'>
        <div class="form-group search-group">
          <input class="form-control input-user-search" type="text" placeholder="Last name">
          <a href="/" class="btn btn-primary btn-sm btn-block btn-responsive btn-search" onclick="return false">Search</a>
        </div>
      </div>
    </div>
  </div>
	<div class="col-xs-10 col-sm-10 col-md-8 col search-content search-users">
    <h3 id="search-user">Results:</h3>
    <div class="row">
      {{#each firstUsers}}
        <div id="user-field-{{@key}}" class="col-xs-12 col-sm-6 col-md-3 profile-box ">
          <a href="./#/community/{{username}}" class="profile-links">
          <div class="profile-content-community">
            <img src="{{avatar.avatar._downloadURL}}" class="img-responsive img-circle users-image" alt="">
            <div class="profile-info">
                <h3>{{username}}</h3>
                <h4 class="user-personal-name">{{firstName}} {{lastName}}</h4>
            </div>
          </div>
          </a>
        </div>
      {{/each}}
    </div>
    <ul class="pagination">
      {{#for 1 totalUserPages 1}}
        <li><a class="page" href="/" onclick="return false">{{this}}</a></li>
      {{/for}}
    </ul>
  </div>
</div>
