    <div class="row">
        <div class="col-md-6 portfolio-item" id="left-side-mainpage">
            <div id="home-page-books" class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Popular Books</h1>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        {{#each books}}
                          <div class="row book-container">
                              <div class="col-sm-4">
                                <img src="{{cover._downloadURL}}" alt="empty" class="img-responsive"/>
                              </div>
                              <div class="col-sm-8 book-content">
                                <h2 id="book-title">{{title}}</h2>
                                <p class="book-content-author">by {{author}}</p>
                                <p class="book-content-rating"><b>Rating:</b> {{rating}}</p>
                                <a href="#" class="btn btn-primary btn-sm book-learn-more" data-toggle="modal" data-target="#book-info"}>Learn more</a>
                                <a href="#" class="btn btn-success btn-sm mark-as-read" data-toggle="modal" data-target="#book-read"}>Mark as read</a>
                              </div>
                          </div>
                        {{/each}}
                          <!-- Modal -->
                          <div class="modal" id="book-info">
                            <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                  <div class="row">
                                      <div class="col-sm-4">
                                        <img id="book-img" src="" alt="empty" class="img-responsive"/>
                                      </div>
                                      <div class="col-sm-8 book-content">
                                        <h2>{{title}}</h2>
                                        <p class="book-content-author"></p>
                                        <p class="book-content-rating"></p>
                                        <p class="book-content-publish-year"></p>
                                        <p class="book-content-pages"></p>
                                        <p class="book-content-isbn"></p>
                                        <p class="book-content-description"></p>
                                      </div>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- sd -->
                          <div class="modal" id="book-read">
                            <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                  <form class="form-horizontal">
                                    <fieldset>
                                      <legend>Legend</legend>
                                      <div class="form-group">
                                        <label for="book-review-{{isbn}}" class="col-lg-2 control-label">Review</label>
                                        <div class="col-lg-10">
                                           <textarea class="form-control review" rows="3" id="book-review-{{isbn}}" style="margin-top: 0px; margin-bottom: 0px; height: 200px;"></textarea>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="book-rating-{{isbn}}" class="col-lg-2 control-label">Rating</label>
                                        <div class="col-lg-10">
                                          <select class="form-control rating" id="book-rating-{{isbn}}">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                          </select>
                                        </div>
                                      </div>
                                    </fieldset>
                                  </from>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-primary read-review">Read</button>
                                  <button type="button" class="btn btn-default close-read" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 portfolio-item" id="left-side-mainpage">
            <div id="home-page-authors" class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Popular Authors</h1>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        {{#each authors}}
                          <div class="row author-container">
                              <div class="col-sm-4">
                                <img src="{{picture._downloadURL}}" alt="empty" class="img-responsive"/>
                              </div>
                              <div class="col-sm-8 author-content">
                                <h2>{{firstName}} {{lastName}}</h2>
                                <p class="author-content-genre"><b>Genre:</b> {{genre}}</p>
                                <p class="author-content-favorite"><b>Added as favorite</b>: {{amountOfFavorites}}</p>
                                <a href="#" class="btn btn-primary btn-sm author-learn-more" data-toggle="modal" data-target="#author-info">Learn more</a>
                                <a href="#" class="btn btn-success btn-sm">Add to favorites</a>
                              </div>
                          </div>
                        {{/each}}
                          <!-- Modal -->
                          <div class="modal" id="author-info">
                            <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                  <div class="row">
                                      <div class="col-sm-4">
                                        <img id="author-img" src="" alt="empty" class="img-responsive"/>
                                      </div>
                                      <div class="col-sm-8 author-content">
                                        <h2></h2>
                                        <p class="author-content-genre"></p>
                                        <p class="author-content-birth-date"></p>
                                        <p class="author-content-birth-place"></p>
                                        <p class="author-content-description"></p>
                                      </div>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
    </div>
